:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(35deg, rgba(2,0,36,1) 0%, rgba(38,9,121,1) 0%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._8bit-img {
  display: inline;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.title {
  font-size: 3em;
  position: relative;
  top: 15px;
}